include ../templates/head
include ../templates/header
+header('', 'О Компании')

include ../templates/mobile-menu

main.about
    section.p-section
        .container
            .row
                .col-xs-12
                    h2 АО «Приморско-Ахтарский молочный завод»
                    .about__wrapper
                        p АО Приморско-Ахтарский молочный завод ТМ "ТВОРОГОВЪ" – молочный завод, занимающийся производством цельномолочной, кисломолочной продукции (кефир, бефидо-кефир, варенец, ряженка, снежок), сметаны, творога, спред «Кубанский» сливочно - растительный, масло «Крестьянское», мороженое. В 2017г запущена новая линейка продуктов: сметанный продукт, творожный продукт. Вся молочной продукция имеет сертификаты качества.
                        p Вся продукция производится исключительно из натурального молочного сырья высшего сорта, без стабилизаторов, содержания ГМО и соответствует ГОСТу.
                        p Продукция нашей компании выпускается в различной упаковке: в пакетах из пленки, в полипропиленовых стаканчиках, в брикетах из пергамента и фольги.
                        p Покупая продукцию компании, вы всегда можете быть уверены, что на вашем столе будут только самые свежие молочные продукты. При производстве, которых использовалось только экологически чистое сырье. Выбирайте лучшее!
                    .about__bg

include ../templates/footer 
include ../templates/recall-form
include ../templates/search-box


