.about 
    color #285e92
    h2
        font-size 32px
        font-weight 700
        line-height 32px
        margin 0 0 30px 

    p
        font-size 16px
        font-weight 300
        line-height 24px
        margin 0 0 30px
    &__wrapper
        width 55%
        margin-bottom 350px
        position relative
        z-index 2
    &__bg
        position absolute
        width 726px
        height 484px
        right 0
        bottom 0
        background transparent url('../../assets/img/milk-shake.png') center center no-repeat
        background-size contain

@media screen and (max-width 991px)
    .about
        &__wrapper
            width 100%
            margin-bottom 250px
        &__bg
            width 100%
            height 214px