.contacts
    &__submit
        max-width none
    &__cnt
        p
            color: #285e91
            font-family: Andika
            font-size: 24px
            font-weight: 400
            line-height: 40px
            margin 0
    &__map
        margin-top 130px
        #map
            height 500px

@media screen and (max-width 991px)
    .contacts
        &__cnt
            p
                font-size 20px
                line-height 30px

@media screen and (max-width 767px)
    .contacts
        h2, &__map
            margin-top 90px