footer.p-footer
    .container
        .row    
            .col-sm-6.col-md-7
                h1.title.title_h1.p-footer__title Контакты
                p Россия,353860, Краснодарский край,
                p г.Приморско-Ахтарск, ул Железнодорожная,38
                p факс: 8 861 433-09-58
                p отдел продаж +7 918 980-99-44
                p e-mail: 
                    a(href="mailto:p-a_molzavod@mail.ru") p-a_molzavod@mail.ru
            .col-sm-3.col-md-2
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="#") О компании
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Продукция
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Новости
            .col-sm-3.col-md-3
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Партнерам
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Дистрибьюторам
                    li.footer-menu__item
                        a.footer-menu__link(href="#") Контакты