.mobile-menu-lock
nav.mobile-menu(data-mobile-menu)
    .mobile-menu__bg
    .container-fluid
        .row
            .col-xs-12
                .logo.mobile-menu__logo
            .col-xs-12.text-center
                ul.menu
                    li.menu__item
                        a.menu__link(href="#") О компании
                    li.menu__item
                        a.menu__link(href="#") Продукция
                    li.menu__item
                        a.menu__link(href="#") Новости
                    li.menu__item
                        a.menu__link(href="#") Партнерам и дистрибьюторам
                    li.menu__item
                        a.menu__link(href="#") Контакты
    .mobile-menu__close(data-close-menu)
        img(src=require("../../assets/img/close.svg"), width="30") 
        | закрыть