.news
    margin-bottom 100px
    &__photo
        display block
        background-size cover
        background-position center center
        height 150px
        margin-top 5px
        border-radius 30px
    &__caption
        margin-bottom 10px
    &__date
        color #999
        font-size 12px
        margin-bottom 20px
    &__item+ &
        &__item 
            margin-top 40px