include ../templates/head
include ../templates/header
- a = [ { "caption": "Каталог продукции", "link": "/catalog.html"} ]
+header('', 'Молоко', a)
    
include ../templates/mobile-menu

main.index
    
    section.p-section
        .container
            .catlog-category
                .row
                    .col-sm-6.col-md-4.col-lg-3
                        a.catlog-category__item(href="product.html") 
                            .catlog-category__photo(style="background-image: url('" + require("../../assets/img/product-milk-1.jpg") + "')")
                            .catlog-category__caption Молоко 2,5%, 0,9л
                            .catlog-category__link Подробнее
                                i.fa.fa-angle-right(aria-hidden="true")
                    .col-sm-6.col-md-4.col-lg-3
                        a.catlog-category__item(href="product.html") 
                            .catlog-category__photo(style="background-image: url('" + require("../../assets/img/product-milk-2.jpg") + "')")
                            .catlog-category__caption Молоко 2,5%, 1л
                            .catlog-category__link Подробнее
                                i.fa.fa-angle-right(aria-hidden="true")
                    .col-sm-6.col-md-4.col-lg-3
                        a.catlog-category__item(href="product.html") 
                            .catlog-category__photo(style="background-image: url('" + require("../../assets/img/product-milk-3.jpg") + "')")
                            .catlog-category__caption Молоко 2,5%, 0,5л
                            .catlog-category__link Подробнее
                                i.fa.fa-angle-right(aria-hidden="true")
                    .col-sm-6.col-md-4.col-lg-3
                        a.catlog-category__item(href="product.html") 
                            .catlog-category__photo(style="background-image: url('" + require("../../assets/img/product-milk-4.jpg") + "')")
                            .catlog-category__caption Молоко 3,2%, 0,5л
                            .catlog-category__link Подробнее
                                i.fa.fa-angle-right(aria-hidden="true")
                    

include ../templates/footer 
include ../templates/recall-form
include ../templates/search-box


